nav{
    display: flex;
    background-color: #01161A;
    padding: 10px 20px;
    justify-content: space-between;
    list-style-type: none ;
    align-items: center;
}
body{
    background-color: #01161A;
}
span{
    color: #F4C095;
    font-size: 20px;
    font-family: 'Bold';
    margin: 0;
}
img.pequeño{
    width: 100px;
    border-radius: 20%;
    margin-right: 20px;
}
img.logo{
    width: 100%;
    border-radius: 20%;
}
nav a{
    color: #679289;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}
nav a:hover{
    color: #EE2E31;
    text-decoration: underline;
    text-decoration-color: #EE2E31;
    text-decoration-thickness: 2px;
    transition: all 0.3s ease;
}
nav div{
    display: flex;
    align-items: center;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 40px;
}
.text{
    flex: 1;
}
.image{
    flex: 1;
}
.hero p{
    color: #EE2E31;
    font-size: 20px;
    font-family: 'Manrope';
    font-weight: 600;
    margin: 0;
}
.hero h1{
    color: #F4C095;
    font-size: 40px;
    font-family: 'Manrope';
    font-weight: 600;
    margin: -10px 0;
}
.hero h2{
    color: #CFE7EC;
    font-size: 40px;
    font-family: 'Manrope';
    font-weight: 600;
    margin: 0;
}
.hero p.p1{
    color: #679289;
    font-size: 20px;
    font-family: 'Manrope';
    margin: 0;
}

.hero img{
    width: 500px;
    border-radius: 20%;
}
.hero button{
    background-color: #EE2E31;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Manrope''bold';
    border-radius: 2%;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
}
.hero button.btn1{
    background-color: #01161A;
    color: #F4C095;
    font-size: 20px;
    font-family: 'Manrope''bold';
    border-radius: 2%;
    padding: 20px 40px;
    border: 2px solid #1D7874;
    cursor: pointer;
}

.hero button:hover{
    background-color: #EE2E31;
    color: #FFFFFF;
    transition: all 0.3s ease;
    padding: 30px 50px;
}
.hero button.btn1:hover{
    background-color: #01161A;
    color: #F4C095;
    transition: all 0.3s ease;
    padding: 30px 50px;
}
